interactions:
- request:
    body: '{"advertiser_id":"advertiser-123","adgroup_ids":["adgroup-1","adgroup-2"],"operation_status":"DISABLE"}'
    headers:
      Access-Token:
      - REDACTED
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-ads.tiktok.com/open_api/v1.3/adgroup/status/update/
  response:
    body:
      string: '{"code":0,"message":"OK","request_id":"req-adgroup-pause","data":{"success_count":2,"operation_status":"DISABLE","adgroup_ids":["adgroup-1","adgroup-2"]}}'
    headers:
      Content-Type:
      - application/json
      x-tt-logid:
      - req-adgroup-pause
    status:
      code: 200
      message: OK
version: 1
