interactions:
- request:
    body: '{"advertiser_id":"7642629596042543111","campaign_name":"QA-TEST","objective_type":"TRAFFIC","budget_mode":"BUDGET_MODE_DAY","budget":50.0}'
    headers:
      Access-Token:
      - REDACTED
    method: POST
    uri: https://business-api.tiktok.com/open_api/v1.3/campaign/create/
  response:
    body:
      string: '{"code":0,"message":"OK","request_id":"req-campaign-create","data":{"campaign_id":"1733456789012345","modify_time":"2026-05-22 12:00:00","operation_status":"ENABLE","request_id":"req-campaign-create"}}'
    headers:
      Content-Type:
      - application/json
      x-tt-logid:
      - req-campaign-create
    status:
      code: 200
      message: OK
version: 1
