interactions:
- request:
    body: '{"advertiser_id":"7642629596042543111","campaign_ids":["1733456789012345"]}'
    headers:
      Access-Token:
      - REDACTED
    method: POST
    uri: https://sandbox-ads.tiktok.com/open_api/v1.3/campaign/delete/
  response:
    body:
      string: '{"code":0,"message":"OK","request_id":"req-campaign-delete","data":{"campaign_ids":["1733456789012345"],"modify_time":"2026-05-22 12:30:00","operation_status":"DELETE","request_id":"req-campaign-delete"}}'
    headers:
      Content-Type:
      - application/json
      x-tt-logid:
      - req-campaign-delete
    status:
      code: 200
      message: OK
version: 1
