interactions:
- request:
    body: '{"advertiser_id":"7642629596042543111","campaign_id":"1733456789012345","campaign_name":"QA-UPDATED"}'
    headers:
      Access-Token:
      - REDACTED
    method: POST
    uri: https://business-api.tiktok.com/open_api/v1.3/campaign/update/
  response:
    body:
      string: '{"code":0,"message":"OK","request_id":"req-campaign-update","data":{"campaign_id":"1733456789012345","modify_time":"2026-05-22 12:10:00","operation_status":"ENABLE","request_id":"req-campaign-update"}}'
    headers:
      Content-Type:
      - application/json
      x-tt-logid:
      - req-campaign-update
    status:
      code: 200
      message: OK
version: 1
