interactions:
- request:
    body: '{"advertiser_id":"advertiser-123","ad_ids":["ad-789"],"operation_status":"DELETE"}'
    headers:
      Access-Token:
      - REDACTED
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-ads.tiktok.com/open_api/v1.3/ad/status/update/
  response:
    body:
      string: '{"code":0,"message":"OK","request_id":"req-ad-delete","data":{"ad_ids":["ad-789"],"operation_status":"DELETE"}}'
    headers:
      Content-Type:
      - application/json
      x-tt-logid:
      - req-ad-delete
    status:
      code: 200
      message: OK
version: 1
