interactions:
- request:
    body: '{"advertiser_id":"advertiser-123","ad_id":"ad-789","ad_name":"Updated single video","creative_authorized":false}'
    headers:
      Access-Token:
      - REDACTED
      Content-Type:
      - application/json
    method: POST
    uri: https://business-api.tiktok.com/open_api/v1.3/ad/update/
  response:
    body:
      string: '{"code":0,"message":"OK","request_id":"req-ad-update","data":{"ad_id":"ad-789","updated":true}}'
    headers:
      Content-Type:
      - application/json
      x-tt-logid:
      - req-ad-update
    status:
      code: 200
      message: OK
version: 1
