interactions:
- request:
    body: '{"business_id":"business-123","account_id":"account-456","comment_id":"reply-001"}'
    headers:
      Access-Token:
      - REDACTED
    method: POST
    uri: https://business-api.tiktok.com/open_api/v1.3/business/comment/reply/delete/
  response:
    body:
      string: '{"code":0,"message":"OK","request_id":"req-comment-reply-delete","data":{"request_id":"req-comment-reply-delete","comment_id":"reply-001","deleted":true}}'
    headers:
      Content-Type:
      - application/json
      x-tt-logid:
      - req-comment-reply-delete
    status:
      code: 200
      message: OK
version: 1
