interactions:
- request:
    body: '{"business_id":"business-123","account_id":"account-456","comment_id":"comment-001","action":"HIDE"}'
    headers:
      Access-Token:
      - REDACTED
    method: POST
    uri: https://business-api.tiktok.com/open_api/v1.3/business/comment/hide/
  response:
    body:
      string: '{"code":0,"message":"OK","request_id":"req-comment-hide","data":{"request_id":"req-comment-hide","comment_id":"comment-001","action":"HIDE"}}'
    headers:
      Content-Type:
      - application/json
      x-tt-logid:
      - req-comment-hide
    status:
      code: 200
      message: OK
- request:
    body: '{"business_id":"business-123","account_id":"account-456","comment_id":"comment-001","action":"UNHIDE"}'
    headers:
      Access-Token:
      - REDACTED
    method: POST
    uri: https://business-api.tiktok.com/open_api/v1.3/business/comment/hide/
  response:
    body:
      string: '{"code":0,"message":"OK","request_id":"req-comment-unhide","data":{"request_id":"req-comment-unhide","comment_id":"comment-001","action":"UNHIDE"}}'
    headers:
      Content-Type:
      - application/json
      x-tt-logid:
      - req-comment-unhide
    status:
      code: 200
      message: OK
version: 1
