interactions:
- request:
    body: '{"business_id":"business-123","account_id":"account-456","comment_id":"comment-001","action":"PIN"}'
    headers:
      Access-Token:
      - REDACTED
    method: POST
    uri: https://business-api.tiktok.com/open_api/v1.3/business/comment/pin/
  response:
    body:
      string: '{"code":0,"message":"OK","request_id":"req-comment-pin","data":{"request_id":"req-comment-pin","comment_id":"comment-001","action":"PIN"}}'
    headers:
      Content-Type:
      - application/json
      x-tt-logid:
      - req-comment-pin
    status:
      code: 200
      message: OK
- request:
    body: '{"business_id":"business-123","account_id":"account-456","comment_id":"comment-001","action":"UNPIN"}'
    headers:
      Access-Token:
      - REDACTED
    method: POST
    uri: https://business-api.tiktok.com/open_api/v1.3/business/comment/pin/
  response:
    body:
      string: '{"code":0,"message":"OK","request_id":"req-comment-unpin","data":{"request_id":"req-comment-unpin","comment_id":"comment-001","action":"UNPIN"}}'
    headers:
      Content-Type:
      - application/json
      x-tt-logid:
      - req-comment-unpin
    status:
      code: 200
      message: OK
version: 1
