interactions:
- request:
    body: '{"advertiser_id":"7642629596042543111","custom_audience_id":"audience-123","custom_audience_name":"qa-test-renamed"}'
    headers:
      Access-Token:
      - REDACTED
    method: POST
    uri: https://business-api.tiktok.com/open_api/v1.3/dmp/custom_audience/update/
  response:
    body:
      string: '{"code":0,"message":"OK","request_id":"req-audience-update","data":{"custom_audience_id":"audience-123","custom_audience_name":"qa-test-renamed","updated":true}}'
    headers:
      Content-Type:
      - application/json
      x-tt-logid:
      - req-audience-update
    status:
      code: 200
      message: OK
version: 1
